**/migrations/
**/__pycache__/
data_dir/
*.bin
*.tif
*.nc
Output/

*.csv
*.zip
*.jp2
*..TIF
*.TIF
*.jpeg
*.txt
*.tar
*.json
*.gz
*.gz
back-end/tools/sentinel_downloads/Data_test/LE70450332005243EDC00.tar.gz
back-end/tools/sentinel_downloads/Data_test
frontend/src/assets/ourStory.mp4