.select-field button {
    background: #f9fafb;
}

.leaflet-container {
    z-index: 10 !important;
}

.leaflet-marker-icon {
    border-radius: 50% !important;
}

.bg-g {
    background: #77C185;
}

.radio- span {
    font-weight: 500 !important;
    color: white !important;
}

.leaflet-draw-toolbar,
.leaflet-control-zoom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent !important;
    border: none !important;
    /* background-color: blue ; */

}


/* .map-c  */
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove,
.leaflet-draw-draw-polygon,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    border-radius: 50% !important;
    background-color: #f9fafb !important;
}

.leaflet-control-attribution {
    font-size: 7px !important;
}

.MuiStepIcon-root{
    
    fill: #477c5f !important;
    width: 16px !important;
}

.MuiStepIcon-root text {
    
    display: none;
}

.Mui-active,
.Mui-completed {
    fill: #F6ED4C !important;
}

/* .leaflet-draw-edit-remove */

/* .leaflet-draw-draw-polygon{
    height: 100px !important;
    width: 100px !important;

} */