.ps-menuitem-root:hover{
    background: none !important;
}

.ps-menu-button:hover{
    background: none !important;
}

.ps-submenu-content:hover{
    background: #064933 !important;
}

.ps-sidebar-container{
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly !important;
    /* align-items: center !important; */
}
.select-field button {
    background: white !important;
}